* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr, form {
    display: flex;
}

body {
    margin: 0;
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg-color);
    > main {
        flex-direction: column;
        min-height: calc(100vh - 400px);
    }
    .banner-pages {
        position: relative;
        align-items: flex-end;
        justify-content: center;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        height: 300px;
        > h1 {
            text-transform: uppercase;
            font-size: 30px;
            color: #fff;
            margin: 40px;
            margin-bottom: 70px;
            line-height: 60px;
            z-index: 1;
        }
    }
    #bedrooms-banner {
        background-image: url("/assets/images/acomodacoes-mobile.jpg");
        background-position-x: left;
    }
    #attractions-banner {
        background-image: url("/assets/images/banner-atracoes.jpg");
        background-position-x: left;
    }
    #hotel-banner {
        background-image: url("/assets/images/banner-hotel.jpg");
    }
    #reservas-banner {
        background-image: url("/assets/images/reservas.jpg");
    }
    #contato-banner {
        background-image: url("/assets/images/contato.jpg");
    }
}


@media (min-width: 1200px) {
    body {
        > main {
            min-height: calc(100vh - 341px);
        }
        .banner-pages {
            position: relative;
            align-items: flex-end;
            justify-content: center;
            background-size: cover;
            background-position-x: center;
            background-position-y: center;
            background-repeat: no-repeat;
            height: 415px;
            > h1 {
                width: 100%;
                max-width: 1200px;
                text-transform: uppercase;
                font-size: 50px;
                color: #fff;
                margin: 40px;
                margin-bottom: 70px;
                margin-left: 170px;
                line-height: 60px;
                z-index: 1;
            }
        }
        #bedrooms-banner {
            background-image: url("/assets/images/acomodacoes-desktop.jpg");
        }
    }
}