.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: var(--overlay);
    transition: all .3s ease-in-out;
}
#header {
    width: 60px;
    height: 60px;
    max-width: 400px;
    background-color: var(--header-mobile);
    position: absolute;
    top: var(--space);
    right: var(--space);
    border-radius: var(--border-radius);
    z-index: 5;
    transition: all .3s ease-in-out;
    .menu {
        transition: right .2s ease-in-out, opacity .5s ease-in-out;
        width: 300px;
        height: 100vh;
        padding-bottom: 50px;
        background-color: var(--gray-7);
        position: fixed;
        opacity: 0;
        right: -300px;
        top: var(--space);
        z-index: 6;
        flex-direction: column;
        justify-content: space-between;
        
        .btn-register {
            @include button-second;
            margin: 20px;
        }
        .footer {
            flex-direction: column;
            align-items: center;
            width: 100%;
            > div {
                display: none;
                padding: 15px;
                width: 100%;
                align-items: center;
                picture {
                    margin-right: 10px;
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
                > div {
                    flex-direction: column;
                    flex: 1;
                }
                a {
                    color: var(--dark-0);
                    text-decoration: none;
                    font-size: 16px;
                    small {
                        color: var(--gray-2);
                        font-size: 12px;
                    }
                }
            }
        }
        nav {
            flex-direction: column;
            ul {
                margin: 0;
                margin-top: 169px;
                padding: 0;
                width: 100%;
                flex-direction: column;
                max-height: calc(100vh - 250px);
                overflow-y: auto;
                li {
                    padding: 14px 0;
                    list-style: none;
                    justify-content: center;
                    a {
                        text-decoration: none;
                        color: var(--header-text);
                        transition: color .3s ease-in-out;
                    }
                    &.hide-guest, &.divider {
                        display: none;
                    }
                }
                hr {
                    margin: 15px 0;
                }
            }
        }
    }
    button {
        background: none;
        border: none;
        padding: 13px;
        outline: none;
    }
    #btn-open, #btn-close {
        position: absolute;
        right: 0;
        cursor: pointer;
    }
    #btn-close {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    .logo {
        position: absolute;
        transition: all 1s ease-in-out;
        right: calc(50vw - 36px);
        top: 15px;
        z-index: 7;
        width: 72px;
    }
}

.open-menu {
    overflow: hidden;
    .overlay {
        opacity: 1;
        height: 100vh;
        width: 100vw;
    }
    #header  {
        width: calc(100% - (var(--space) * 2));
        height: calc(100vh - (var(--space) * 2));
        .menu {
            right: var(--space);
            opacity: 1;
        }
        .logo {
            left: initial;
            right: 87px;
            width: 120px;
        }
        #btn-open {
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }
        #btn-close {
            opacity: 1;
            transition: all 0.3s ease-in-out;
        }
    }
}

@media (min-width: 1200px) {
    .overlay {
        display: none;
    }
    .open-menu {
        overflow: initial;
        #header  {
            height: 60px;
            width: 100%;
            
            .logo {
                right: calc(100vw - 200px);
                top: 17px;
                transition: none;
                width: 120px;
            }
        }
    }
    #header {
        width: 100%;
        max-width: 900px;
        height: 60px;
    
        background-color: var(--header-desktop);
        .logo {
            right: calc(100vw - 150px);
            top: 17px;
            transition: none;
            width: 100px;
        }
        #btn-open, #btn-close {
            display: none;
        }
        ul {
            width: auto;
        }
        .menu {
            opacity: 1;
            width: 100%;
            height: 60px;
            background-color: initial;
            position: relative;
            right: initial;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 0;
            top: 0;
            .btn-register {
                margin: 0;
                margin-right: 30px;
            }
            nav {
                width: 100%;
                ul {
                    margin-top: 0;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    li {
                        &.divider {
                            display: none;
                        }
                        a {
                            font-size: 18px;
                            min-width: 120px;
                            padding: 10px 0;
                            text-align: center;
                            &:hover {
                                color: var(--header-hover);
                            }
                        }
                    }
                }
            }
            .footer {
                width: initial;
                justify-content: center;
                hr {
                    display: none;
                }
                > div {
                    height: 100px;
                }
            }
        }
    }  
}