.banner-home {
    position: relative;
    align-items: flex-end;
    justify-content: center;
    background-image: url("/assets/images/banner-home.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    height: 100vh;
    > h1 {
        text-transform: uppercase;
        font-size: 40px;
        color: #fff;
        margin: 40px;
        margin-bottom: 70px;
        line-height: 60px;
        z-index: 1;
    }
}
.overlay-banner {
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.60) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 45%, rgba(255,255,255,1) 100%);
    width: 100%;
    height: 100%;
}
.divider {
    position: relative;
    background-color: var(--convenience);
    padding-top: 100px;
    margin-top: 50px;
    .custom-shape-divider-top-1604624824 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    .custom-shape-divider-top-1604624824 svg {
        width: calc(100% + 1.3px);
        height: 59px;
    }
    
    
    .custom-shape-divider-top-1604624824 .shape-fill {
        fill: #FFFFFF;
    }
}
#coffee.section {
    margin-top: 100px;
}

@media (min-width: 768px) {
    .banner-home {
        max-height: 800px;
        justify-content: end;
        > h1 {
            font-size: 75px;
            line-height: 95px;
            max-width: 750px;
            margin-left: 10vw;
        }
    }
    .divider {
        padding-top: 150px;
        .custom-shape-divider-top-1604624824 svg {
            width: calc(100% + 1.3px);
            height: 98px;
        }
    }
}

@media (min-width: 1200px) {
    .divider {
        .custom-shape-divider-top-1604624824 svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 150px;
        }
    }
}

@media (min-width: 1500px) {
    .banner-home {
        > h1 {
            margin-left: 15vw;
        }
    }
}