@mixin button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    background: var(--btn);    
    color: var(--btn-text);
    width: fit-content;
    transition: background-color .2s ease-in-out;
    &:hover {
        background-color: var(--btn-hover);
    }
    &:active {
        background-color: var(--btn-active);
    }
}

@mixin button-second{
    @include button;
    background-color: var(--btn-second);
    color: var(--white);
    &:hover {
        background-color: var(--btn-second-hover);
    }
    &:active {
        background-color: var(--btn-second-active);
    }
}


@mixin button-white {
    @include button;
    background-color: var(--btn-white);
    color: var(--btn-white-text);
    &:hover {
        background-color: var(--btn-white-hover);
    }
    &:active {
        background-color: var(--btn-white-active);
    }
}

@mixin button-border {
    @include button;
    background-color: transparent;
    color: var(--btn-border-text);
    border-color: var(--btn-border);
    &:hover {
        background-color: var(--btn-border-hover);
        color: #fff;
    }
    &:active {
        background-color: var(--btn-border-active);
        color: #fff;
    }
}


