:root {
    --main: #FF5D09;
    --second: #2D2B87;
    --third:#69E0A5;
  
    --space: 20px;
    --border-radius: 10px;
    --overlay: #63636349;

    //Header
    --header-mobile: #ff5b09f3;
    --header-desktop: transparent;
    --header-text: #fff;
    --header-hover: #000;
    --header-text-desktop: #000;
    --header-hover-desktop: #FF5D09;

    
    // Footer
    --bg-footer: #fff;
    --text-footer: var(--main);
    --text-footer-copyright: #fff;
  
    // Texts
    --text: #707070;
  
    //form
    --text-main: #fff;
    --text-main-80: rgba(255, 255, 255, 0.80);
    --form-title-color: #fff;
    //Button
    --btn: #FF5D09;
    --btn-hover: #ff6f28;
    --btn-active: #c74808;
    --btn-text: #fff;

    //Button-white
    --btn-white: #fff;
    --btn-white-hover: rgb(216, 216, 216);
    --btn-white-active: rgb(170, 170, 170);
    --btn-white-text: #FF5D09;
    
    //Button-second
    --btn-second: #69E0A5;
    --btn-second-hover: #63d49b;
    --btn-second-active: #6fecae;
    //Button Border
    --btn-border: #FF5D09;
    --btn-border-hover: #ff732d;
    --btn-border-active: #c74808;
    --btn-border-text: #FF5D09;
  }
  