@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf") format("truetype");
}
:root {
  --main: #FF5D09;
  --second: #2D2B87;
  --third:#69E0A5;
  --space: 20px;
  --border-radius: 10px;
  --overlay: #63636349;
  --header-mobile: #ff5b09e7;
  --header-desktop: transparent;
  --header-text: #fff;
  --header-hover: #000;
  --header-text-desktop: #000;
  --header-hover-desktop: #FF5D09;
  --bg-footer: #382f1e;
  --text-footer: #fff;
  --text-footer-copyright: #fff;
  --bg-footer-copyright: #2c2517;
  --convenience: #DCC79E;
  --text: #707070;
  --text-main: #fff;
  --text-main-80: rgba(255, 255, 255, 0.80);
  --form-title-color: #fff;
  --btn: #FF5D09;
  --btn-hover: #ff6f28;
  --btn-active: #c74808;
  --btn-text: #fff;
  --btn-white: #fff;
  --btn-white-hover: rgb(216, 216, 216);
  --btn-white-active: rgb(170, 170, 170);
  --btn-white-text: #FF5D09;
  --btn-second: #69E0A5;
  --btn-second-hover: #63d49b;
  --btn-second-active: #6fecae;
  --btn-border: #FF5D09;
  --btn-border-hover: #ff732d;
  --btn-border-active: #c74808;
  --btn-border-text: #FF5D09;
  --form-bg: #fff;
  --label: #271B06;
  --bg-input: #EEEEEE;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr, form {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--bg-color);
}
body > main {
  flex-direction: column;
  min-height: calc(100vh - 400px);
}
body .banner-pages {
  position: relative;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 300px;
}
body .banner-pages > h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
  margin: 40px;
  margin-bottom: 70px;
  line-height: 60px;
  z-index: 1;
}
body #bedrooms-banner {
  background-image: url("/assets/images/acomodacoes-mobile.jpg");
  background-position-x: left;
}
body #attractions-banner {
  background-image: url("/assets/images/banner-atracoes.jpg");
  background-position-x: left;
}
body #hotel-banner {
  background-image: url("/assets/images/banner-hotel.jpg");
}
body #reservas-banner {
  background-image: url("/assets/images/reservas.jpg");
}
body #contato-banner {
  background-image: url("/assets/images/contato.jpg");
}

@media (min-width: 1200px) {
  body > main {
    min-height: calc(100vh - 341px);
  }
  body .banner-pages {
    position: relative;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    height: 415px;
  }
  body .banner-pages > h1 {
    width: 100%;
    max-width: 1200px;
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
    margin: 40px;
    margin-bottom: 70px;
    margin-left: 170px;
    line-height: 60px;
    z-index: 1;
  }
  body #bedrooms-banner {
    background-image: url("/assets/images/acomodacoes-desktop.jpg");
  }
}
#footer {
  margin-top: 70px;
  padding-top: 40px;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg-footer);
  color: var(--text-footer);
}
#footer .footer-container {
  flex-direction: column;
  width: 100%;
}
#footer .footer-container .container-col:last-child {
  align-self: center;
}
#footer .footer-container .container-col ul {
  flex-direction: column;
  padding: var(--space);
  margin: 0;
}
#footer .footer-container .container-col ul li {
  flex-direction: row;
  font-weight: 300;
  margin-bottom: 20px;
}
#footer .footer-container .container-col ul li.li-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--main);
}
#footer .footer-container .container-col ul li img {
  width: 30px;
  height: 30px;
  margin-right: var(--space);
}
#footer .footer-container .container-col ul li a {
  font-size: 17px;
  text-decoration: none;
  color: var(--text-footer);
  transition: all 0.2s ease-in-out;
}
#footer .footer-container .container-col ul li a:hover {
  color: var(--second);
}
#footer .footer-container .logo {
  width: 100%;
  filter: invert(1);
}
#footer .footer-container .logo a img {
  width: 300px;
}
#footer .footer-copyright {
  color: var(--text-footer-copyright);
  background-color: var(--bg-footer-copyright);
  flex-direction: column;
  font-weight: 600;
  margin-top: 40px;
}
#footer .footer-copyright h3 {
  font-size: 20px;
  margin: 1em auto;
}
#footer .footer-copyright > div {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  padding: 0 10px;
  text-align: center;
}
#footer .footer-copyright > div a {
  text-decoration: none;
  color: var(--text-footer-copyright);
  font-size: 15px;
}
#footer .footer-copyright > div p + a {
  margin: 0;
}
#footer .footer-copyright > div p {
  margin: 0 10px;
}
#footer .footer-copyright .footer-copyright-images {
  margin: var(--space) 0;
  max-width: 500px;
  margin: 10px auto;
}
#footer .footer-copyright .footer-copyright-images a {
  margin: 0 8px;
}
#footer .footer-copyright .footer-copyright-images img {
  width: 30px;
  height: 30px;
  margin: auto 0;
}

@media (min-width: 576px) {
  #footer .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1600px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  #footer .footer-copyright {
    flex-direction: row;
  }
  #footer .footer-copyright .footer-copyright-images a {
    margin: 0 10px;
  }
}
@media (min-width: 1200px) {
  #footer .footer-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  #footer .footer-container .logo {
    width: 15%;
  }
  #footer .footer-copyright .footer-copyright-images a {
    margin: 0 var(--space);
  }
}
.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background-color: var(--overlay);
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

#header {
  width: 60px;
  height: 60px;
  max-height: 800px;
  max-width: 400px;
  background-color: var(--header-mobile);
  position: absolute;
  top: var(--space);
  right: var(--space);
  border-radius: var(--border-radius);
  z-index: 5;
  transition: all 0.3s ease-in-out;
}
#header .menu {
  transition: right 0.2s ease-in-out, opacity 0.5s ease-in-out;
  width: calc(100% - (var(--space) * 2));
  max-width: 400px;
  height: 100vh;
  max-height: 800px;
  padding-bottom: 50px;
  position: fixed;
  opacity: 0;
  right: -400px;
  top: var(--space);
  z-index: 6;
  flex-direction: column;
  justify-content: space-between;
}
#header .menu .btn-register {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  background: var(--btn);
  color: var(--btn-text);
  width: fit-content;
  transition: background-color 0.2s ease-in-out;
  background-color: var(--btn-white);
  color: var(--btn-white-text);
  margin: 20px;
}
#header .menu .btn-register:hover {
  background-color: var(--btn-hover);
}
#header .menu .btn-register:active {
  background-color: var(--btn-active);
}
#header .menu .btn-register:hover {
  background-color: var(--btn-white-hover);
}
#header .menu .btn-register:active {
  background-color: var(--btn-white-active);
}
#header .menu .footer {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#header .menu .footer > div {
  display: none;
  padding: 15px;
  width: 100%;
  align-items: center;
}
#header .menu .footer > div picture {
  margin-right: 10px;
}
#header .menu .footer > div picture img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#header .menu .footer > div > div {
  flex-direction: column;
  flex: 1;
}
#header .menu .footer > div a {
  color: var(--dark-0);
  text-decoration: none;
  font-size: 16px;
}
#header .menu .footer > div a small {
  color: var(--gray-2);
  font-size: 12px;
}
#header .menu nav {
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
#header .menu nav ul {
  margin: 0;
  margin-top: 90px;
  padding: 0;
  width: 100%;
  flex-direction: column;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}
#header .menu nav ul li {
  padding: 14px 0;
  list-style: none;
  justify-content: center;
}
#header .menu nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--header-text);
  transition: color 0.3s ease-in-out;
}
#header .menu nav ul li.hide-guest, #header .menu nav ul li.divider {
  display: none;
}
#header .menu nav ul hr {
  margin: 15px 0;
}
#header button {
  background: none;
  border: none;
  padding: 13px;
  outline: none;
}
#header #btn-open, #header #btn-close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
#header #btn-close {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
#header .logo {
  position: absolute;
  transition: all 1s ease-in-out;
  right: calc(50vw - 65px);
  top: -10px;
  z-index: 7;
  width: 200px;
}

.open-menu {
  overflow: hidden;
}
.open-menu .overlay {
  opacity: 1;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
.open-menu #header {
  width: calc(100% - (var(--space) * 2));
  height: calc(100vh - (var(--space) * 2));
}
.open-menu #header .menu {
  right: var(--space);
  opacity: 1;
}
.open-menu #header .logo {
  left: initial;
  top: 10px;
  right: 130px;
  width: 120px;
}
.open-menu #header #btn-open {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.open-menu #header #btn-close {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  .overlay {
    display: none;
  }

  .open-menu {
    overflow: initial;
  }
  .open-menu #header {
    height: 60px;
    width: 100%;
  }
  .open-menu #header .logo {
    right: calc(100vw - 200px);
    top: 17px;
    transition: none;
    width: 120px;
  }

  #header {
    width: 100%;
    max-width: 900px;
    height: 60px;
    background-color: var(--header-desktop);
  }
  #header .logo {
    right: calc(100vw - 290px);
    top: 0;
    transition: none;
  }
  #header #btn-open, #header #btn-close {
    display: none;
  }
  #header ul {
    width: auto;
  }
  #header .menu {
    opacity: 1;
    width: 100%;
    max-width: initial;
    height: 60px;
    background-color: initial;
    position: relative;
    right: initial;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0;
    top: 0;
  }
  #header .menu .btn-register {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    background: var(--btn);
    color: var(--btn-text);
    width: fit-content;
    transition: background-color 0.2s ease-in-out;
    margin: 0;
    margin-right: 30px;
  }
  #header .menu .btn-register:hover {
    background-color: var(--btn-hover);
  }
  #header .menu .btn-register:active {
    background-color: var(--btn-active);
  }
  #header .menu nav {
    width: 100%;
  }
  #header .menu nav ul {
    margin-top: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #header .menu nav ul li {
    padding: 0;
  }
  #header .menu nav ul li.divider {
    display: none;
  }
  #header .menu nav ul li a {
    font-size: 18px;
    min-width: 120px;
    padding: 10px 0;
    text-align: center;
    color: var(--header-text-desktop);
  }
  #header .menu nav ul li a:hover {
    color: var(--header-hover-desktop);
  }
  #header .menu .footer {
    width: initial;
    justify-content: center;
  }
  #header .menu .footer hr {
    display: none;
  }
  #header .menu .footer > div {
    height: 100px;
  }
}
.section {
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.section.reverse-mobile .section-wrapper {
  flex-direction: column-reverse;
}
.section .section-wrapper {
  flex-direction: column;
  max-width: 600px;
}
.section .section-content {
  flex-direction: column;
  padding: var(--space);
}
.section .section-content .section-title {
  text-transform: uppercase;
  margin: 0;
  line-height: 50px;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  max-width: 370px;
}
.section .section-content .section-title > strong {
  color: var(--main);
}
.section .section-content > p {
  font-size: 18px;
  color: var(--text);
}
.section .section-content > ul {
  flex-direction: column;
  font-size: 16px;
  color: var(--text);
  margin-top: 0;
}
.section .section-content > ul li {
  list-style-type: circle;
  display: list-item;
}
.section .section-content .action {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  background: var(--btn);
  color: var(--btn-text);
  width: fit-content;
  transition: background-color 0.2s ease-in-out;
  background-color: transparent;
  color: var(--btn-border-text);
  border-color: var(--btn-border);
  align-self: center;
}
.section .section-content .action:hover {
  background-color: var(--btn-hover);
}
.section .section-content .action:active {
  background-color: var(--btn-active);
}
.section .section-content .action:hover {
  background-color: var(--btn-border-hover);
  color: #fff;
}
.section .section-content .action:active {
  background-color: var(--btn-border-active);
  color: #fff;
}
.section .section-content .action.main {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  background: var(--btn);
  color: var(--btn-text);
  width: fit-content;
  transition: background-color 0.2s ease-in-out;
}
.section .section-content .action.main:hover {
  background-color: var(--btn-hover);
}
.section .section-content .action.main:active {
  background-color: var(--btn-active);
}
.section .section-content .action > svg {
  margin-left: 10px;
  margin-bottom: -0.5px;
}
.section .section-second picture {
  width: 100%;
  padding: 10px 5px;
}
.section .section-second picture.picture-hidden {
  overflow: hidden;
}
.section .section-second picture img {
  width: 100%;
  object-fit: cover;
}
.section .section-second picture img.img-convenience {
  width: 90%;
  max-width: 400px;
  object-fit: cover;
  height: 480px;
  margin: 0 auto;
  margin-bottom: -70px;
  border-radius: var(--border-radius);
  box-shadow: 2px 3px 6px #0000004d;
}
.section .section-second picture img.img-coffee, .section .section-second picture img.img-bedrooms {
  border-radius: var(--border-radius);
  margin-left: 20px;
  box-shadow: 2px 3px 6px #0000004d;
}
.section .section-second picture img.img-bedrooms-reverse {
  border-radius: var(--border-radius);
  margin-left: -20px;
  box-shadow: 2px 3px 6px #0000004d;
}
.section .section-gallery {
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.section .section-gallery > picture {
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px 0px;
}
.section .section-gallery > picture > img {
  width: 99%;
  height: 67vw;
  margin-right: 40px;
  box-shadow: 2px 3px 6px #0000004d;
  border-radius: var(--border-radius);
  margin-top: 32px;
  object-fit: cover;
}
.section .section-gallery > picture:nth-child(even) > img {
  margin-right: 0;
  margin-left: 40px;
}

@media (min-width: 576px) {
  .section .section-gallery > picture {
    width: 99%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex: 1;
  }
  .section .section-gallery > picture > img {
    flex: 1;
    width: 100%;
    height: 200px;
    margin-right: 0;
    box-shadow: 2px 3px 6px #0000004d;
    border-radius: 0;
    margin-top: 32px;
    object-fit: cover;
  }
  .section .section-gallery > picture:nth-child(even) > img {
    margin-right: 2px;
    margin-left: 2px;
    padding: 0 2px;
  }
  .section .section-second picture img {
    border-radius: var(--border-radius);
    box-shadow: 2px 3px 6px #0000004d;
  }
  .section .section-second picture img.img-coffee, .section .section-second picture img.img-bedrooms {
    margin-left: 0;
  }
  .section .section-second picture img.img-bedrooms-reverse {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .section .section-gallery > picture {
    width: 99%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex: 1;
  }
  .section .section-gallery > picture > img {
    flex: 1;
    width: 100%;
    height: 250px;
    margin-right: 0;
    box-shadow: 2px 3px 6px #0000004d;
    border-radius: 0;
    margin-top: 32px;
    object-fit: cover;
  }
  .section .section-gallery > picture:nth-child(even) > img {
    margin-right: 2px;
    margin-left: 2px;
    padding: 0 2px;
  }
  .section .section-second picture img {
    border-radius: var(--border-radius);
    box-shadow: 2px 3px 6px #0000004d;
  }
  .section .section-second picture img.img-coffee {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .section.reverse-mobile .section-wrapper {
    flex-direction: row;
  }
  .section.reverse-desktop .section-wrapper {
    flex-direction: row-reverse;
  }
  .section .section-wrapper {
    flex-direction: row;
    max-width: 1300px;
  }
  .section .section-content {
    max-width: 600px;
    min-width: 600px;
    padding: 60px;
  }
}
@media (min-width: 1500px) {
  .section .section-gallery > picture > img {
    height: 300px;
  }
}
.banner-home {
  position: relative;
  align-items: flex-end;
  justify-content: center;
  background-image: url("/assets/images/banner-home.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.banner-home > h1 {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
  margin: 40px;
  margin-bottom: 70px;
  line-height: 60px;
  z-index: 1;
}

.overlay-banner {
  position: absolute;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 45%, white 100%);
  width: 100%;
  height: 100%;
}

.divider {
  position: relative;
  background-color: var(--convenience);
  padding-top: 100px;
  margin-top: 50px;
}
.divider .custom-shape-divider-top-1604624824 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.divider .custom-shape-divider-top-1604624824 svg {
  width: calc(100% + 1.3px);
  height: 59px;
}
.divider .custom-shape-divider-top-1604624824 .shape-fill {
  fill: #FFFFFF;
}

#coffee.section {
  margin-top: 100px;
}

@media (min-width: 768px) {
  .banner-home {
    max-height: 800px;
    justify-content: end;
  }
  .banner-home > h1 {
    font-size: 75px;
    line-height: 95px;
    max-width: 750px;
    margin-left: 10vw;
  }

  .divider {
    padding-top: 150px;
  }
  .divider .custom-shape-divider-top-1604624824 svg {
    width: calc(100% + 1.3px);
    height: 98px;
  }
}
@media (min-width: 1200px) {
  .banner-home > h1 {
    margin-bottom: 100px;
  }

  .divider .custom-shape-divider-top-1604624824 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }
}
@media (min-width: 1500px) {
  .banner-home > h1 {
    margin-left: 15vw;
  }
}
.schedule {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.schedule.contato {
  flex-direction: column;
}
.schedule.contato .map {
  background-image: url("/assets/images/map-mobile.png");
  background-size: cover;
  background-position-x: 30%;
  background-position-y: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  margin-top: -70px;
}
.schedule .schedule-wrapper {
  width: 100%;
  max-width: 1400px;
}
.schedule .schedule-second {
  display: none;
}
.schedule .schedule-main {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
  z-index: 1;
}
.schedule .schedule-main > form {
  width: 90%;
  max-width: 400px;
  padding: var(--space);
  border-radius: 20px;
  background-color: var(--form-bg);
  box-shadow: 2px 3px 6px #0000004d;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
}
.schedule .schedule-main > form .form-title {
  font-size: 25px;
  align-self: center;
  margin: 10px 0;
}
.schedule .schedule-main > form .field {
  flex-direction: column;
  padding: 5px 0px;
  width: 100%;
  margin-bottom: var(--space);
}
.schedule .schedule-main > form .field > label {
  order: 0;
  font-size: 14px;
  color: var(--label);
  font-weight: bold;
  margin-bottom: 5px;
}
.schedule .schedule-main > form .field > input, .schedule .schedule-main > form .field > select {
  order: 1;
  outline: none;
  width: 100%;
  background-color: var(--bg-input);
  border: 1px solid transparent;
  line-height: 20px;
  font-size: 14px;
  padding: 15px;
}
.schedule .schedule-main > form .field > input:focus, .schedule .schedule-main > form .field > select:focus {
  border: 1px solid var(--main);
  color: var(--main);
}
.schedule .schedule-main > form .field input:focus + label, .schedule .schedule-main > form .field select:focus + label {
  color: var(--main);
}
.schedule .schedule-main > form > button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  background: var(--btn);
  color: var(--btn-text);
  width: fit-content;
  transition: background-color 0.2s ease-in-out;
  align-self: center;
}
.schedule .schedule-main > form > button:hover {
  background-color: var(--btn-hover);
}
.schedule .schedule-main > form > button:active {
  background-color: var(--btn-active);
}

@media (min-width: 1200px) {
  .schedule.contato {
    position: relative;
  }
  .schedule.contato .map {
    position: absolute;
    top: 70px;
    background-image: url("/assets/images/map.png");
    background-size: cover;
    background-position-x: 30%;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    margin-top: -70px;
  }
  .schedule .schedule-main {
    margin-top: -150px;
    width: 50%;
    order: 2;
  }
  .schedule .schedule-second {
    display: flex;
    width: 50%;
    order: 1;
    align-items: center;
    justify-content: flex-end;
  }
  .schedule .schedule-second > p {
    margin: 0;
    width: 80%;
    font-size: 40px;
    color: var(--text);
  }
  .schedule.home .schedule-main {
    margin-top: -75px;
    width: 100%;
  }
  .schedule.home .schedule-main > form {
    position: relative;
    max-width: initial;
    flex-direction: row;
    width: fit-content;
    padding: var(--space) 40px;
  }
  .schedule.home .schedule-main > form .form-title {
    display: none;
  }
  .schedule.home .schedule-main > form .field {
    margin-right: var(--space);
    max-width: 200px;
  }
  .schedule.home .schedule-main > form > button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    background: var(--btn);
    color: var(--btn-text);
    width: fit-content;
    transition: background-color 0.2s ease-in-out;
    align-self: center;
  }
  .schedule.home .schedule-main > form > button:hover {
    background-color: var(--btn-hover);
  }
  .schedule.home .schedule-main > form > button:active {
    background-color: var(--btn-active);
  }
  .schedule.home .schedule-second {
    display: none;
  }
}
.page .divider {
  padding-bottom: 100px;
}
.page .divider.last {
  margin-bottom: -70px;
}

@media (min-width: 768px) {
  .page .divider {
    padding-top: 200px;
  }
}

/*# sourceMappingURL=main.css.map */
